.channel-item{
    position: relative;
}
.channel{
    height: 32px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    padding-left: 5px;
    color: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2px;
}
.channel svg{
    fill: var(--font-secondary);
    margin-right: 6px;
}
.channel:hover:not(.c-clicked){
    background-color: var(--background-secondary-hover);
}
.c-clicked{
    background-color: var(--background-hover);
}
.channel-title span{
    font-weight: 500;
    color: var(--font-primary);
    user-select: none;
    font-size: 16px;
}
.channel-title svg{
    fill: var(--font-secondary);
}
.channel-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 6px;
}
.roblox{
    padding: 15px;
    user-select: none;
}
.create-channel{
    border-radius: 12px;
    width: 460px;
    overflow: hidden;
    background-color: var(--background-primary);
    color: var(--font-primary);
    position: relative;
}
.title-channel{
    font-size: 21px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}
.check{
    display: flex;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    --color: var(--background-secondary);
    border-radius: 3px;
    background-color: var(--color);
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
    cursor: pointer;
    gap: 8px;
    padding-right: 20px;
}
.check:hover{
    background-color: var(--background-secondary-hover);
}
.check.checked{
    background-color: var(--background-hover);
}
.my-fav-dog{
    display: flex;
    flex-direction: column;
}
.channel-type h4{
    margin: 0;
}
.channel-type p{
    margin: 0;
    font-size: 14px;
    color: var(--font-secondary);
}
.check svg{
    fill: var(--font-secondary);
}
.checker{
    width: 12px;
    height: 12px;
    background-color: var(--blue);
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    outline: 2px var(--font-primary) solid;
    outline-offset: 3px;
}
.checker.unchecked{
    background-color: transparent;
}
.grammar{
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}
.cant-click{
    opacity: 0.5;
}
.channel-icon.channel-icon{
    width: 68px;
    height: 68px;
    overflow: hidden;
    background-color: var(--background-hover);
    position: relative;
}
.channel-icon.channel-icon svg{
    position: absolute;
    inset: 0;
    margin: auto;
    fill: var(--font-primary);
}
.green-thing{
    background-color: var(--green);
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
    display: none;
}
.green-thing.highlight{
    display: block;
}