.login{
    height: 400px;
    position: fixed;
    top: calc(50% - 202px);
    width: 600px;
    background-color: var(--background-primary);
    transition: 0.3s;
    overflow: hidden;
    left: calc(50% - 302px);
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    text-align: center;
}
.button-login{
    background: var(--blue);
    border-radius: 3px;
    font-size: 17px;
    color: white;
    height: 35px;
    bottom: 46px;
    width: 57%;
    height: 50px;
    margin-top: 10px;
    border: none;
    transition: 0.2s;
}
.button-login:hover{
    background-color: var(--blue-hover);
}
.no-account{
    color: var(--font-secondary)
}
.no-account span{
    color: var(--cyan);
    cursor: pointer;
}
.no-account span:hover{
    text-decoration: underline;
}
.login-input{
    width: 57%;
    height: 50px;
    outline: none;
    position: relative;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: var(--background-secondary);
    padding: 0 25px;
    color: var(--font-primary);
}
.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:active,
.login-input:-webkit-autofill:focus{
    background-clip: text;
    -webkit-text-fill-color: var(--font-primary);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 100px 20px var(--background-secondary);
    caret-color: var(--font-primary);
}
.login-input::placeholder{
    color: var(--font-secondary);
}
.password{
    top: 50%;
}
.email{
    top: 33%;
}

.login-text{
    position: relative;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--font-primary);
}

.expand-me{
    transition: 0.2s;
    transform: scaleY(1.3);
}
.expand-me *{
    transition: 0.1s;
    opacity: 0;
}
.expand-all{
    transition: 0.3s;
    transform: scale(3);
}
.expand-all *{
    transition: 0.15s;
    opacity: 0;
}

.waiting{
    filter: brightness(0.6);
    pointer-events: none;
}
.error-message{
    color: var(--red);
}