.custom-status{
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 5px;
    overflow: hidden;
}
.set-custom-status{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.h2-82{
    align-self: center;
}
.current-status{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}