.create-server {
    background-color: #f0f8ff;
    border-radius: 5px;
    width: 440px;
    overflow: hidden;
    user-select: none;
    transition: 0.2s;
    position: relative;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes sliding {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideBack {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideBackReverse {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.slide-back {
    animation: slideBackReverse 0.2s forwards;
}

.slide-reverse-back {
    animation: slideBack 0.2s forwards;
}

.slide {
    animation: slide 0.2s forwards;
}

.slide-reverse {
    animation: sliding 0.2s forwards;
}

.pad-this {
    padding: 15px;
}

.l-section {
    background-color: rgb(227, 232, 236);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.l-section.flex {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.title-big {
    font-size: 23px;
    color: black;
    margin: 15px 0;
}

.text-small {
    color: rgb(52, 51, 56);
    font-size: 15px;
    margin-bottom: 20px;
}

.back-out.back-out {
    color: black;
    margin: 0;
}