.generic-input-type-button{
    border: none;
    background-color: var(--background-tertiary);
    border-radius: 3px;
    text-align: left;
    color: var(--font-secondary);
}
.generic-popup{
    background-color: var(--background-primary);
    height: fit-content;
    max-height: 600px;
}
.generic-menu{
    background-color: var(--background-floating);
    position: fixed;
    padding: 7px 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.generic-button{
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    transition: 0.2s;
    padding: 0.7em 1.75em;
    background-color: transparent;
}
.generic-button.primary{
    background-color: var(--blue);
}
.generic-button.primary:hover{
    background-color: var(--blue-hover);
}
.generic-button.success{
    background-color: var(--green);
}
.generic-button.success:hover{
    background-color: var(--green-hover);
}
.generic-button.error{
    background-color: var(--red);
}
.generic-button.error:hover{
    background-color: var(--red-hover);
}
.generic-button.secondary{
    background-color: var(--font-background);
}
.generic-button.secondary:hover{
    background-color: var(--font-background-secondary);
}
.generic-button.cancel{
    padding: 0;
    width: fit-content;
    height: fit-content;
    background: transparent;
    color: var(--font-primary);
}
.generic-button.cancel:hover{
    text-decoration: underline;
}
.generic-input{
    background-color: var(--background-secondary);
    height: 2.6em;
    font-size: 15px;
    color: var(--font-primary);
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 0.4em;
    outline: none;
    border: none;
}
.lower-section{
    background-color: var(--background-secondary);
    width: 100%;
    align-self: flex-start;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 15px;
    box-sizing: border-box;
    gap: 20px;
}
@keyframes brighter {
    from {
        background-color: rgba(0, 0, 0, 0.671);
    } to {
        background-color: rgba(0, 0, 0, 0);
    }
}
@keyframes darker {
    from {
        background-color: rgba(0, 0, 0, 0);
    } to {
        background-color: rgba(0, 0, 0, 0.671);
    }
}
.dark-div.bigger{
    animation: darker 0.15s ease-in;
}
.dark-div.smaller{
    animation: brighter 0.15s ease-out;
}
@keyframes bigger{
    0% {
        opacity: 0.4;
        transform: scale(0.75);
    } 90% {
        opacity: 1;
        transform: scale(1);
    } 
}
@keyframes smaller{
    from {
        opacity: 1;
        transform: scale(1);
    } to {
        opacity: 0.4;
        transform: scale(0.8);
        display: none;
    }
}
.animated-popup.bigger{
    animation: 0.15s ease-out 0s 1 bigger;
}
.animated-popup.smaller{
    animation: 0.15s forwards 0s 1 smaller;
}
.bigger{
    animation: 0.15s ease-out 0s 1 bigger;
}
.dark-div{
    background-color: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
@keyframes taller {
    from {
        transform: scaleY(0.5) scaleX(0.7);
        opacity: 0.5;
    } to {
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes shorter {
    from {
        transform: scaleY(1);
        opacity: 1;
    } to {
        transform: scaleY(0.5) scaleX(0.7);
        opacity: 0.5;
    }
}
.webkit-scroller::-webkit-scrollbar{
    display: block;
    width: 8px;
}
.text-info{
    color: var(--font-secondary);
}
.generic-header-5{
    margin-left: 15px;
    color: var(--font-primary);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.generic-label{
    color: var(--font-secondary);
    font-size: 13px;
    font-weight: 600;
    user-select: none;
}
.exit{
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    z-index: 2;
    cursor: pointer;
}