:root{
    --purple: rgb(90, 0, 129);
    --green: rgb(30, 220, 115);
    --yellow: rgb(241, 245, 45);
    --red: rgb(255, 2, 58);
    --green-hover: rgb(27, 172, 92);
    --red-hover: rgb(209, 0, 45);
    --blue-hover: rgb(33, 47, 153);
    --background-primary: rgb(211, 211, 223);
    --background-secondary: rgb(181, 181, 194);
    --background-tertiary: rgb(156, 156, 173);
    --background-xx: rgb(169, 169, 189);
    --blue: rgb(45, 61, 180);
    --font-background: rgb(237, 237, 245);
    --background-secondary-hover: rgb(174, 174, 186);
    --font-primary: rgb(1, 0, 22);
    --cyan: rgb(50, 160, 224);
    --background-hover: rgba(0, 0, 0, 0.096);
    --background-floating: white;
    --font-secondary: rgb(110, 110, 126);
    --shadow: rgba(27, 27, 31, 0.137);
}

div[theme="dark"]{
    --background-primary: rgb(38, 38, 49);
    --font-primary: rgb(222, 222, 231);
    --background-secondary: rgb(28, 28, 37);
    --font-background: rgb(50, 50, 61);
    --shadow: rgba(13, 13, 15, 0.432);
    --background-tertiary: rgb(18, 18, 24);
    --background-floating: rgb(17, 17, 22);
    --background-secondary-hover: rgb(35, 35, 44);
    --font-secondary: rgb(137, 137, 153);
    --background-hover: rgba(255, 255, 255, 0.068);
    --background-xx: rgb(25, 25, 34);
}

.main{
    background: var(--background-tertiary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

*{
    font-family: 'Roboto';
}
.github-link{
    color: var(--font-secondary);
    text-decoration: none;
    font-family: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

button{
    user-select: none;
    cursor: pointer;
}

input::placeholder{
    user-select: none;
}

img{
    user-select: none;
}
