#crown{
    transform: translate(4px, 2px);
    position: absolute;
}
.my-pfp.my-pfp{
    transition: 0.2s;
    cursor: pointer;
    pointer-events: all;
}
.my-pfp:hover{
    filter: brightness(0.7);
}
.icon-div{
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 1px;
}
.icon-status.status{
    box-shadow: 0 0 0 5px var(--background-xx);
    inset: auto 0 0 auto;
    transform: scale(0.55);
    transform-origin: right bottom;
}
.my-username{
    user-select: none;
    font-size: 14px;
    font-weight: 600;
    margin: auto 0 auto 8px;
    color: var(--font-primary);
}
.my-username span{
    display: block;
    font-weight: 400;
    color: var(--font-secondary);
    font-size: 12px;
}
.settings-button{
    color: var(--icon-normal);
    width: 32px;
    transition: 0.2s;
    height: 32px;
    cursor: pointer;
    justify-self: right;
    margin: 0 9px 0 auto;
    position: relative;
    border-radius: 5px;
}
.settings-button svg{
    margin: auto;
    position: absolute;
    inset: 0;
}
.settings-button:hover{
    background-color: var(--background-hover);
}

@keyframes shift {
    from {
        opacity: 0.6;
        transform: translateX(20px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes reverseShift {
    from {
        opacity: 0.6;
        transform: translateX(-20px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}
.user-div{
    position: fixed;
    z-index: 2;
    animation: shift 0.2s ease-out;
    background: var(--background-floating);
    box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.100);
    border-radius: 7px;
    width: 300px;
    padding-bottom: 7px;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.status{
    content: "";
    position: absolute;
    background-color: var(--green-hover);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px var(--background-floating);
    right: 4%;
    bottom: 4%;
}
.view-profile.not-online .status,
.user-div.not-online .status{
    background-color: var(--background-secondary);
    width: 10px;
    height: 10px;
    border: 4px var(--font-secondary) solid;
}
.user-bg-1{
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0; left: 0;
}
.user-username span{
    color: var(--font-secondary);
}
.avatar-wrapper{
    width: 80px;
    height: 80px;
    border: 6px var(--background-floating) solid;
    margin-top: 5px;
    border-radius: 50px;
    background-color: var(--background-floating);
    cursor: pointer;
    position: relative;
}
.change-929{
    pointer-events: none;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    width: 80px; height: 80px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.507);
}
.avatar-wrapper:hover .change-929{
    opacity: 1;
}
.avatar-icon{
    background-color: var(--background-primary);
}
.hidden-text{
    position: absolute;
    top: 0;
    left: 0;
}
.user-avatar{
    border-radius: 50%;
    margin: 0;
    -webkit-user-drag: none;
    cursor: pointer;
    object-fit: cover;
}
.user-username{
    font-size: 19px;
    color: var(--font-primary);
    margin-top: 5px;
    margin-bottom: 10px;
}
.line{
    background-color: var(--background-primary);
    height: 1px;
}
.line.first{
    position: relative;
    width: 100%;
    margin: auto;
}
.line.last{
    position: absolute;
    left: 0;
    width: 100%;
}
.note,
.roles{
    width: 100%;
    user-select: none;
    position: relative;
    margin-top: 10px;
}
.roles:last-child .line{
    display: none;
}
.user-custom-status{
    color: var(--icon-normal);
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}
.customizing-my-profile h5,
.roles h5{
    position: relative;
    margin-top: 0;
    color: var(--font-secondary);
    font-size: 13px;
}
.note h5{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
    color: var(--font-secondary);
}
.note textarea{
    width: 100%;
    height: 38px;
    font-size: 13px;
    resize: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    color: var(--font-primary);
    border: none;
    background-color: inherit;
    transition: 0.2s;
}
.note textarea:focus{
    background-color: var(--background-hover);
}
.role{
    border-color: var(--green);
    width: fit-content;
    max-width: calc(100% - 28px);
    overflow: hidden;
    color: var(--font-primary);
    padding: 4px 7px;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--font-background);
    bottom: 10px;
    padding-left: 21px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 3px;
}
.role::before{
    content: "";
    width: 0;
    height: 0;
    top: 5px;
    position: absolute;
    left: 4px;
    display: block;
    border-radius: 50%;
    border: 6px solid;
    border-color: inherit;
}
.dm-user{
    background-color: var(--background-primary);
    border-radius: 3px;
    outline: none;
    border: none;
    height: 40px;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 13px;
    font-size: 15px;
    color: var(--font-primary);
    margin-top: 10px;
    transition: 0.4s;
}
.dm-user:focus{
    box-shadow: 0 0 0 1px var(--cyan);
}
.user-id{
    color: var(--font-secondary);
    font-size: 14px;
    user-select: none;
}
.user-settings{
    z-index: 6;
    width: 600px;
    background-color: var(--background-primary);
    height: 400px;
    top: 0; left: 0;
    bottom: 0; right: 0;
    border-radius: 8px;
    margin: auto;
    position: fixed;
    display: flex;
    overflow: hidden;
}
.user-avatar-selector{
    width: 150px;
    height: 150px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    background-color: var(--background-tertiary);
}
.user-avatar-selector::after{
    content: "Change Avatar";
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    inset: 0; margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s;
}
.user-avatar-selector:hover::after{
    opacity: 1;
}
.avatar-config{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    cursor: pointer;
}
.avatar-config::-webkit-file-upload-button{
    cursor: pointer;
}
.view-avatar{
    border-radius: 50%;
    object-fit: cover;
}
.user-overview{
    background-color: var(--background-secondary);
    width: 200px;
    height: 100%;
    overflow: hidden;
}
.overview{
    margin-left: 20px;
    margin-top: 20px;
    color: var(--font-primary);
    height: calc(100% - 184px);
}
.overview h2{
    font-size: 13px;
    font-weight: 600;
    color: var(--font-secondary);
    user-select: none;
}
.overview h3{
    position: relative;
    bottom: 10px;
    height: 14px;
    transition: 0.2s;
    user-select: none;
    width: fit-content;
    margin-bottom: -6px;
    font-weight: 400;
    font-size: 15px;
}
.overview h3:empty::before{
    content: attr(placeholder);
    color: var(--red);
}
.logout{
    border: none;
    background-color: var(--red);
    outline: none;
    border-radius: 4px;
    width: 160px;
    height: 35px;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 18px;
    transition: 0.4s;
}
.logout:hover{
    background-color: var(--red-hover);
}
.view-password:hover{
    cursor: pointer;
    color: var(--cyan);
}
.user-editor{
    height: 100%;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    position: relative;
}
.user-editor input{
    width: 270px;
    background-color: var(--font-background);
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: none;
    color: var(--font-primary);
    font-size: 16px;
    position: relative;
    padding: 0 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.username-changer{
    box-sizing: border-box;
}
.profile-color.profile-color{
    padding: 0 5px;
}
.profile-color::-moz-color-swatch{
    border: 3px var(--font-background) solid;
    border-radius: 10px;
}
.profile-color::-webkit-color-swatch {
	border: none;
    border-radius: 3px;
}
.customize{
    position: relative;
    color: var(--font-primary);
    user-select: none;
    margin-bottom: 15px;
}
.logout-2,
.save-profile,
.cancel-profile{
    height: 35px;
    outline: none;
    position: absolute;
    color: white;
    bottom: 18px;
    font-weight: 600;
    transition: 0.2s;
    border-radius: 4px;
    border: none;
    width: 80px;
}
.theme-h2{
    margin-top: 5px;
}
.save-profile{
    background-color: var(--green);
    left: 25px;
}
.save-profile:hover{
    background-color: var(--green-hover);
}
.cancel-profile{
    left: 115px;
    background-color: var(--background-tertiary);
}
.cancel-profile:hover{
    background-color: var(--background-secondary);
}
.user-buttons{
    position: absolute;
    width: 100%;
    top: 180px;
    left: 0;
}
.user-buttons button{
    width: 116px;
    height: 116px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    position: relative;
    left: 10px; top: 10px;
    font-weight: 500;
    transition: 0.4s;
}
.click-settings{
    background-color: var(--blue);
}
.click-settings svg{
    transform: scale(0.9);
    fill: white;
}
.click-settings:hover{
    background-color: rgb(37, 50, 148);
}
.is-not-edited .save-profile{
    cursor: not-allowed;
    background-color: var(--background-tertiary);
}
.current-theme{
    color: var(--font-primary);
    position: relative;
    left: 100px; bottom: 47px;
    user-select: none;
    font-variant: small-caps;
    font-size: 19px;
}
.member-skeleton,
.member{
    user-select: none;
    display: flex;
    cursor: pointer;
    width: 228px;
    border-radius: 3px;
    position: relative;
    align-items: center;
    margin-left: 6px;
    height: 42px;
}
.member-skeleton{
    cursor: default;
}
.member-is-online{
    width: 11px;
    height: 11px;
    background-color: var(--green-hover);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--background-secondary);
    position: absolute;
    right: 0;
    bottom: 0;
}
.member-offline .member-is-online{
    width: 6px;
    height: 6px;
    border: 3px var(--font-secondary) solid;
    background-color: var(--background-primary);
}
.member-offline{
    opacity: 0.8;
}
.member:hover .member-is-online, .member-clicked .member-is-online{
    box-shadow: 0 0 0 3px var(--background-secondary-hover);
}
.member:hover, .member-clicked{
    background-color: var(--background-secondary-hover);
    opacity: 1;
}
.member-clicked{
    pointer-events: none;
}
.member-skeleton-pfp,
.member-icon{
    border-radius: 50%;
    -webkit-user-drag: none;
}
.member-avatar{
    width: 32px;
    height: 32px;
    margin-left: 8px;
    position: relative;
}
.member-skeleton-pfp{
    height: 38px; width: 38px;
    margin-left: 8px;
    background-color: var(--background-hover);
}
.nice-div{
    height: fit-content;
    margin-left: 11px;
}
.member-name{
    color: var(--font-primary);
    margin: 0;
    position: relative;
    font-weight: 500;
    font-size: 15px;
}
.member-skeleton-name{
    width: 80px;
    height: 13px;
    border-radius: 15px;
    background-color: var(--background-hover);
}
.member-skeleton-status{
    width: 170px;
    height: 13px;
    border-radius: 15px;
    margin-top: 6px;
    background-color: var(--background-hover);
}
.is-online{
    color: var(--font-secondary);
    font-size: 12px;
    position: relative;
    margin: 0;
    display: block;
    margin-top: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 170px;
}
.members-title{
    color: var(--font-secondary);
    margin-top: 20px;
    margin-bottom: 2px;
    position: relative;
    left: 12px;
    user-select: none;
    font-size: 12px;
    font-weight: 600;
}
.light-theme{
    background-color: rgb(211, 211, 223);
    border-radius: 3px;
    border: 2px rgb(211, 211, 223) solid;
    font-size: 12px;
    font-weight: 600;
    width: fit-content; height: fit-content;
    padding: 3px 5px;
    user-select: none;
    color: rgb(22, 0, 4);
    cursor: pointer;
}
.light-theme.light{
    border-color: var(--blue);
}
.themes{
    display: flex;
    column-gap: 10px;
}
.dark-theme{
    cursor: pointer;
    background-color: rgb(32, 32, 41);
    border-radius: 3px;
    border: 2px rgb(32, 32, 41) solid;
    font-size: 12px;
    font-weight: 600;
    color: rgb(231, 228, 229);
    width: fit-content; height: fit-content;
    padding: 3px 5px;
    user-select: none;
}
.dark-theme.dark{
    border-color: var(--blue);
}
.footer{
    height: 52px;
    background-color: var(--background-xx);
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 8px;
    padding-bottom: 1px;
}
.generic-label{
    color: var(--font-secondary);
    font-size: 13px;
    font-weight: 600;
}
.user-av{
    pointer-events: none;
}
.user-av img{
    object-fit: cover;
    -webkit-user-drag: none;
}