.platform{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--background-tertiary);
}
.screen{
    display: flex;
    flex-grow: 1;
    transition: 0.15s;
}
.platform.is-showing-settings .screen{
    transform: scale(0.8);
}
@keyframes display {
    from {
        opacity: 0.4;
        transform: scale(1.2)
    } to {
        opacity: 1;
        transform: scale(1)
    }
}
@keyframes displayReverse {
    from {
        opacity: 1;
        transform: scale(1)
    } to {
        opacity: 0;
        transform: scale(1.2)
    }
}
.settings{
    animation: display ease-out 0.15s 0s;
}
.settings.is-being-removed{
    animation: displayReverse ease-out 0.15s 0s;
}
.flexible-container{
    display: flex;
    width: 100%;
}
.messages{
    background-color: var(--background-primary);
    height: 100%;
    overflow: hidden;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-template-rows: 48px 1fr;
    grid-template-areas: 
    "header header"
    "messages users";
}
.navigate{
    background-color: var(--background-tertiary);
    width: 72px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100%;
    flex-shrink: 0;
}
.navigate::-webkit-scrollbar{
    display: none;
}
.name{
    box-shadow: 0 1px 0 var(--shadow);
    position: relative;
    display: flex;
    align-items: center;
    min-width: max-content;
    grid-area: header;
    background: var(--background-primary);
    z-index: 1;
}
.left-part{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 240px;
    flex-shrink: 0;
    height: 100%;
}
.channels{
    width: 100%;
    left: 69px;
    top: 51px;
    scrollbar-color: var(--background-tertiary) transparent;
    scrollbar-width: thin;
    display: block;
    flex: 1 1 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--background-secondary);
}
.channels:hover{
    overflow-y: auto;
}
.message-manager::-webkit-scrollbar,
.users::-webkit-scrollbar,
.channels::-webkit-scrollbar{
    width: 5px;
    background-color: var(--background-secondary);
}
.message-manager::-webkit-scrollbar-thumb,
.users::-webkit-scrollbar-thumb,
.channels::-webkit-scrollbar-thumb{
    background-color: var(--background-tertiary);
}
.message-manager::-webkit-scrollbar{
    border-radius: 5px;
}
.message-manager::-webkit-scrollbar-thumb{
    border-radius: 5px;
}
.server-name{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    width: 100%;
    min-height: 48px;
    transition: 0.2s;
    user-select: none;
    background-color: var(--background-secondary);
    box-shadow: 0 1px 0 var(--shadow);
    padding: 0 10px 0 13px;
}
.server-name:not(.home-search):hover, .server-name-2{
    background-color: var(--background-xx);
}
.server-name-2{
    pointer-events: none;
}
.server-name-2 svg{
    transform: rotate(0.5turn);
}
.server-name svg{
    transition: 0.2s;
    justify-self: right;
    margin-left: auto;
    color: var(--icon-normal);
}
.server-name span{
    color: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.messages-main{
    grid-area: messages;
    width: 100%;
    position: relative;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-flow: column nowrap;
}
.users{
    background-color: var(--background-secondary);
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--background-tertiary) transparent;
    grid-area: users;
}
.controll{
    position: relative;
    margin: -7px 16px 24px 16px;
}
.not-input{
    padding: 0 14px;
    color: var(--font-primary);
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    min-height: 44px;
    overflow-x: hidden;
    caret-color: var(--font-primary);
    line-height: 1.2em;
    scrollbar-width: none;
    flex-grow: 1;
    flex-basis: 0;
}
.plain-text{
    outline: none;
    min-height: inherit;
    box-sizing: border-box;
    padding: 13px 0;
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.plain-text:empty::before{
    content: attr(placeholder);
    white-space: nowrap;
    overflow: hidden;
    color: rgb(101, 101, 122);
    cursor: text;
}
.file{
    width: 42px;
    height: 44px;
    position: sticky;
    top: 0;
}
.text-content{
    border-radius: 8px;
    position: relative;
    display: flex;
    background-color: var(--font-background);
}
.attach-file{
    height: 20px;
    font-size: 40px;
    color: var(--font-background);
    user-select: none;
    background-color: var(--icon-normal);
    cursor: pointer;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    border: none;
    inset: 0 0 0 14px;
    margin: auto;
}
.attach-file:hover{
    background-color: var(--font-primary);
}
.attach-file svg{
    position: absolute;
    left: 0; right: 0;
    pointer-events: none;
    top: 0; bottom: 0;
    margin: auto;
}
.attach-file input{
    position: absolute;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    border-radius: 50%;
    top: 0; left: 0;
}
.attach-file input::-webkit-file-upload-button{
    cursor: pointer;
}
.home-button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    background: var(--background-primary);
}
.home-button.isclicked,
.home-button:hover{
    background-color: var(--blue);
    border-radius: 16px;
}
.home-button:active{
    top: 1px;
}
.home-button svg{
    transition: 0.2s;
    position: absolute;
    fill: var(--font-primary);
    inset: 0;
    width: 35px;
    height: 35px;
    margin: auto;
    transform: translateX(-1px);
}
.border-bottom{
    width: 40px;
    background: var(--background-secondary);
    height: 2px;
    position: relative;
    margin: 7px 0 7px 14.5px;
}
.home-button:hover{
    transform: scale(1);
}
.chat{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: 4px transparent solid;
    overflow-y: scroll;
    scrollbar-color: var(--background-tertiary) var(--background-secondary);
    scrollbar-width: thin;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
div:is(.main-content, .chat, .list)::-webkit-scrollbar{
    display: block;
    width: 8px;
}
div:is(.main-content, .chat, .list)::-webkit-scrollbar-track{
    background: transparent;
}
div:is(.main-content, .chat, .list)::-webkit-scrollbar-track-piece{
    background: var(--background-secondary);
    border-radius: 8px;
}
div:is(.main-content, .chat)::-webkit-scrollbar-track-piece:end{
    margin-bottom: 11px;
}
div:is(.main-content, .chat, .list)::-webkit-scrollbar-track-piece:start{
    margin-top: 5px;
}
div:is(.main-content, .chat, .list)::-webkit-scrollbar-thumb{
    background: var(--background-tertiary);
    border-radius: 8px;
}
.connecting{
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 100%;
    top: 0; left: 0;
    background-color: var(--background-primary);
}
.notification{
    background-color: var(--red);
    width: fit-content;
    height: fit-content;
    padding: 1px 5px;
    border-radius: 15px;
    position: absolute;
    font-size: 13px;
    bottom: -2px;
    right: -2px;
    border: 3px var(--background-tertiary) solid;
    font-weight: 600;
    pointer-events: none;
    user-select: none;
    color: white;
}

.nt:active{
    z-index: 3;
    transition: 0.2s;
    opacity: 0.5;
}
@keyframes notification {
    from {
        transform: scale(0.6);
        margin-top: -5px;
        margin-bottom: -5px;
    } to {
        transform: scale(1);
    }
}
.nta{
    animation: notification 0.1s forwards;
}
.invite-people{
    color: var(--blue);
}
.server-menu p:hover{
    color: white;
}
.separator{
    background-color: var(--font-background);
    width: 95%;
    margin: 3px 0;
    height: 1px;
}
.leave-server{
    color: var(--red);
}
.leave-server.leave-server:hover{
    background-color: var(--red);
}
.fetched-messages{
    padding-bottom: 25px;
}